html, *, *:before, *:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  scroll-behavior: smooth;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #350974;
}

h1 {
  font-size: 1.5rem;
}

h2 {
  font-size: 1.4rem;
}

h3 {
  font-size: 1.3rem;
}

h4 {
  font-size: 1.2rem;
}

h5 {
  font-size: 1.1rem;
}

h6 {
  font-size: 1rem;
}

.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  height: 100vh;
  background-image: linear-gradient(120deg, #33d6c0, #257fb3);
}

.container .project-title {
  margin-bottom: 8vh;
  font-size: 2.5rem;
  letter-spacing: 0.2rem;
  color: #fefefe;
}

.container .canvas {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 60% 40%;
      grid-template-columns: 60% 40%;
  background-color: #fefefe;
  width: 800px;
  height: 450px;
  border-radius: 5px;
  -webkit-box-shadow: 8px 8px 15px rgba(0, 0, 0, 0.2);
          box-shadow: 8px 8px 15px rgba(0, 0, 0, 0.2);
}

.container .canvas .image-changer {
  position: relative;
}

.container .canvas .image-changer img {
  position: absolute;
  top: -70px;
  left: -60px;
  -webkit-transform: rotate(-40deg);
          transform: rotate(-40deg);
  -webkit-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
}

.container .canvas .image-changer img:hover {
  -webkit-transform: rotate(-40deg) translate(30px, -5vh);
          transform: rotate(-40deg) translate(30px, -5vh);
  -webkit-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
}

.container .canvas .image-changer .shoe-shadow {
  width: 90%;
  height: 8px;
  position: absolute;
  background-image: -webkit-gradient(linear, left top, right top, from(#111), to(rgba(0, 0, 0, 0)));
  background-image: linear-gradient(90deg, #111, rgba(0, 0, 0, 0));
  -webkit-filter: blur(10px);
          filter: blur(10px);
  opacity: 0.6;
  bottom: 70px;
  left: 60px;
}

.container .canvas .color {
  height: 100%;
}

.container .canvas .color__form {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 2fr 1fr 2fr 3fr;
      grid-template-rows: 2fr 1fr 2fr 3fr;
  height: 100%;
  gap: 1rem;
}

.container .canvas .color__form h1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 2rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.container .canvas .color__form h3 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.container .canvas .color__choose-color {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 80%;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin-bottom: 2rem;
}

.container .canvas .color__js-circle {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  opacity: 0.7;
  outline: none;
  margin-top: 4vh;
}

.container .canvas .color__js-circle#black {
  background-color: #111;
  -webkit-box-shadow: 0 0 10px #111;
          box-shadow: 0 0 10px #111;
}

.container .canvas .color__js-circle#red {
  background-color: #d82e2e;
  -webkit-box-shadow: 0 0 10px #c22828;
          box-shadow: 0 0 10px #c22828;
}

.container .canvas .color__js-circle#blue {
  background-color: #388ddd;
  -webkit-box-shadow: 0 0 10px #2878c2;
          box-shadow: 0 0 10px #2878c2;
}

.container .canvas .color__js-circle#black.selected, .container .canvas .color__js-circle#red.selected, .container .canvas .color__js-circle#blue.selected {
  -webkit-transform: scale(1.3, 1.3);
          transform: scale(1.3, 1.3);
  opacity: 1;
}

.container .canvas .color__price {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.container .canvas .color__price h2 {
  font-size: 2.2rem;
}

.container .canvas .color__price button {
  background-color: #120d2c;
  color: #fefefe;
  font-size: 1.3rem;
  width: 110%;
  -webkit-transition: 200ms ease-in-out;
  transition: 200ms ease-in-out;
  height: 80px;
}

.container .canvas .color__price button:hover {
  background-color: #DF2C59;
  -webkit-transition: 200ms ease-in-out;
  transition: 200ms ease-in-out;
}
/*# sourceMappingURL=style.css.map */